body,
html {
  background: transparent url('../img/bj.jpg') no-repeat center fixed;
  background-size: cover;
}
.conbox {
  background-color: rgba(255, 255, 255, 0.6);
  min-height: calc(100vh - 120px);
}
.headbox {
  position: relative;
  height: 120px;
  border-bottom: 1px solid #ccc;
}
.headbox .red {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  margin-left: 180px;
  height: 60px;
  display: block;
  border-radius: 30px;
}
.headbox .sure {
  font-weight: bold;
  border-bottom: 4px solid #333;
  color: #333;
}
.headbox .fl > .btn {
  padding-top: 0;
}
.headbox .fl,
.headbox .fr {
  padding-top: 30px;
}
.headbox .fl a,
.headbox .fr a {
  font-size: 24px;
  line-height: 80px;
  margin: 0 30px;
  height: 80px;
}
.headbox .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 30px;
  overflow: hidden;
}
.headbox .logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.headbox .downbtn {
  position: relative;
  z-index: 9999;
}
.headbox .btn {
  position: relative;
}
.headbox .btn .downlist {
  position: absolute;
  border: 1px solid #ccc;
  width: 100%;
  top: 60px;
  display: none;
  background-color: #fff;
  z-index: 9999;
}
.headbox .btn .downlist a {
  display: block;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 0;
  height: auto;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  text-align: center;
  margin: 0;
}
.headbox .btn .downlist a:hover {
  background: #000;
  color: #fff;
}
.headbox.mainhead {
  background-color: rgba(255, 255, 255, 0.8);
}
#index {
  padding-top: 120px;
}
#index .centertxt {
  margin: -60px 30px 0 30px;
}
#index h2 {
  font-size: 90px;
  line-height: 160px;
  height: 160px;
  text-align: center;
  position: relative;
  font-family: 'f1';
}
#index h3 {
  font-size: 60px;
  line-height: 120px;
  text-align: center;
  position: relative;
  padding: 60px 0;
  font-family: 'f1';
}
#index .line {
  height: 2px;
  background-color: #000;
  width: 120px;
  margin: 30px auto;
}
.btns {
  border: 1px solid #333;
  background-color: #f4f4f4;
  width: 200px;
  display: block;
  margin: auto;
  font-size: 20px;
  line-height: 60px;
  font-family: 'f2';
  font-weight: bold;
}
.red {
  font-size: 28px;
  line-height: 40px;
  color: red;
}
#page1 {
  max-width: 1200px;
  width: 100%;
  display: block;
  margin: auto;
  padding: 120px 0;
}
#page1 .fl {
  font-size: 40px;
  line-height: 60px;
  padding: 20px 0;
  width: 31%;
  margin: 1%;
  text-align: center;
  font-family: 'f1';
}
#page1 .fl a {
  color: #333;
  display: block;
}
#page2 form {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 900px;
  padding-top: 60px;
  margin: 0 auto;
}
#page2 form .btns {
  margin: 30px auto;
}
#page2 .tit {
  font-size: 20px;
  line-height: 60px;
  height: 60px;
  text-align: left;
  color: #333;
}
#page2 input {
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #666;
}
#page2 textarea {
  width: 100%;
  height: 300px;
}
#page2 .nameline {
  margin: auto;
}
#page2 .nameline .fl {
  width: 48%;
  margin: 1%;
  font-size: 18px;
  line-height: 30px;
}
#page2 .nameline .fl p {
  color: #333;
}
#page3 {
  max-width: 900px;
  display: block;
  margin: auto;
  width: 100%;
}
#page3 iframe {
  display: block;
  margin: 0 auto;
  padding: 60px 0;
}
#page3 h2 {
  font-size: 60px;
  line-height: 120px;
  text-align: center;
}
#page3 h3 {
  font-size: 40px;
  line-height: 90px;
  text-align: center;
}
#page3 .bar {
  padding: 30px;
  width: 100%;
}
#page3 .bar img {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
#page3 .desc {
  max-width: 1200px;
  display: block;
  margin: 30px auto;
  font-size: 20px;
  line-height: 40px;
  width: 100%;
  text-align: left;
  color: #333;
  padding: 60px 0;
}
#page3 .png {
  max-width: 1200px;
  display: block;
  margin: 30px auto;
  width: 100%;
}
#page3 video {
  display: block;
  margin: 30px auto;
  max-width: 900px;
  width: 100%;
}
@media screen and (max-width: 840px) {
  #page3 .bar {
    width: 90%;
    margin: 30px auto;
  }
  #page3 .bar img {
    display: block;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
  }
  #page2 form {
    width: 90%;
    display: block;
    margin: auto;
  }
  .headbox {
    height: auto;
  }
  .headbox .red {
    transform: none;
    margin-left: 0;
    position: static;
    width: auto;
    float: right;
  }
  .headbox > .fl {
    display: block;
    width: 100%;
  }
  .headbox > .fl > .fl {
    width: 33%;
  }
  .headbox .downbtn {
    height: auto;
  }
  .headbox .logo {
    position: static;
    transform: none;
    margin-left: 30px;
  }
  .headbox .logo .red {
    position: static;
    transform: none;
    margin-left: 30px;
  }
  .headbox .fr {
    display: block;
    width: 100%;
  }
  #index {
    display: block;
    width: 100vw;
    overflow: hidden;
  }
  #index h2,
  #index h3 {
    font-size: 60px;
    line-height: 90px;
    height: 90px;
  }
}
.lazyload {
  transition: all 0.6s;
}
.bar {
  overflow: hidden;
}
.lazyload.fadein:hover {
  transform: scale(1.1);
}
